body {
	padding: 0;
	margin: 0;
}

header {

	
	display: grid;
	grid-template-columns: 1fr 3fr 0.5fr 1.5fr;
	
	justify-items: center;
	
	 background-color: #fff;
	padding: 5px 0;
	
	align-items: center;
	justify-content: space-between;
	max-width: 900px;
	margin: 0 auto;
	border-bottom: 1px solid #bbb; 
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.5rem;
}

.m {
	letter-spacing: 1pt;
	color: forestgreen;
	font-weight: 700;
	font-size: 0.8rem;
}

.social {
	margin-right: 1.5rem;
}

.social svg {
	width: 25px;
	height: auto;
}

main {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    align-content: center;
    margin-top: 10px;
}

main, footer {
    margin: 0 auto;
    align-items: center;
    border-style: ridge;
}

section {
	margin: 0 auto;
    align-items: center;
    border-style: ridge;
	height: 200px;
  	width: 50%;
}