body {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

header,
nav,
main,
footer {
  margin: 1.25rem auto;
  max-width: 760px;
}

header,
footer {
  /* background-color: navy;
  color: white;
  text-align: center;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 5px 10px #88888836; */
  
  border-radius: 50px;
  background: #dadada;
  box-shadow: 18px 18px 37px #bebebe, -18px -18px 37px #ffffff;  
}

 

header {
  padding: 1.5rem;
}

h1 img {
  /* float: inline-start; */
  margin: 10px;
  border: 1px solid black;
  size: 50px;
}

h1 {
  text-align: center;
  /* border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 18px 18px 37px #bebebe, -18px -18px 37px #ffffff; */
}

img {
  max-width: 100%;
  display: block;
}